*{
    margin: 0%;
    padding: 0%;
}

body{
    
    background-size: cover; 
    background-image: url('../images/bg2.jpg');
}  

#list{
    color:navy;
    font-size: 20px;
    
    
    

    
}
button:hover{
    color:rgb(194, 29, 180);
}
h1{
    text-align:left;
    margin-left: 70px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    margin: 50px;
}
#list{
    text-align:left;
    margin-left: 70px;
    

}
